<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org"
      class="loading"
      th:attr="data-theme=${theme}"
>
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>

    <style>
    </style>

    <title class="toTranslate" data-langKey="device_tab_title">Portal</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<th:block th:with="baseUrl=${#httpServletRequest.requestURI}, queryUrl=${#httpServletRequest.queryString}">
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">

            <!-- -->
            <section id="device">
                <div class="d-flex">
                    <div class="d-flex">
                        <h2 class="mx-0 mt-0  mb-1">
                            <span class="toTranslate" data-langKey="device_title">Device</span>
                            <span th:text="${device.getGuid()}"> #</span>
                        </h2>
                    </div>

                    <!-- navbar -->
                    <div class="ms-auto">
                        <div class="d-flex d-lg-none justify-content-end">
                            <button class="btn btn-icon pt-25 pe-0 collapsed"
                                    type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <i data-feather="x" class="font-medium-5 contExpanded"></i>
                                <i data-feather="menu" class="font-medium-5 contCollapsed"></i>
                            </button>
                        </div>
                        <!-- collapse  -->
                        <nav class="collapse navbar-collapse d-lg-block" id="navbarSupportedContent">
                            <ul class="nav justify-content-end">
                                <li class="nav-item mb-1 ">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-bs-toggle="dropdown" data-bs-target="#navbarDropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul id="navbarDropdown" class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item mb-1 ms-1">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addNewCard">
                                        Modal
                                    </button>
                                </li>
                                <li class="nav-item mb-1 ms-1">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item mb-1 ms-1">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                                                data-bs-target="#navbarDropdownNoUl" >
                                            Primary
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="navbarDropdownNoUl">
                                            <a class="dropdown-item" href="#">Option 1</a>
                                            <a class="dropdown-item" href="#">Option 2</a>
                                            <a class="dropdown-item" href="#">Option 3</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <!--/ collapse  -->
                    </div>
                    <!--/ navbar -->
                </div>

                <div class="card">
                    <div class="card-header d-flex">

                    </div>
                    <div class="card-body">

                    </div>

                    <div class="card-footer">

                    </div>
                </div>

            </section>

        </div>
    </div>

</div>

<div class="modal fade" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                <h1 class="text-center mb-1" id="addNewCardTitle">Add New Card</h1>
                <p class="text-center">Add card for future billing</p>

                <!-- form -->
                <form id="addNewCardValidation" class="row gy-1 gx-2 mt-75" onsubmit="return false">
                    <div class="col-12">
                        <label class="form-label" for="modalAddCardNumber">Card Number</label>
                        <div class="input-group input-group-merge">
                            <input id="modalAddCardNumber" name="modalAddCard" class="form-control add-credit-card-mask" type="text" placeholder="1356 3215 6548 7898" aria-describedby="modalAddCard2" data-msg="Please enter your credit card number" />
                            <span class="input-group-text cursor-pointer p-25" id="modalAddCard2">
                                            <span class="add-card-type"></span>
                                        </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="modalAddCardName">Name On Card</label>
                        <input type="text" id="modalAddCardName" class="form-control" placeholder="John Doe" />
                    </div>

                    <div class="col-6 col-md-3">
                        <label class="form-label" for="modalAddCardExpiryDate">Exp. Date</label>
                        <input type="text" id="modalAddCardExpiryDate" class="form-control add-expiry-date-mask" placeholder="MM/YY" />
                    </div>

                    <div class="col-6 col-md-3">
                        <label class="form-label" for="modalAddCardCvv">CVV</label>
                        <input type="text" id="modalAddCardCvv" class="form-control add-cvv-code-mask" maxlength="3" placeholder="654" />
                    </div>

                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="form-check form-switch form-check-primary me-25">
                                <input type="checkbox" class="form-check-input" id="saveCard" checked />
                                <label class="form-check-label" for="saveCard">
                                    <span class="switch-icon-left"><i data-feather="check"></i></span>
                                    <span class="switch-icon-right"><i data-feather="x"></i></span>
                                </label>
                            </div>
                            <label class="form-check-label fw-bolder" for="saveCard">Save Card for future billing?</label>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-1 mt-1">Submit</button>
                        <button type="reset" class="btn btn-outline-secondary mt-1" data-bs-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</th:block>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_devices");
    });
</script>

</body>
<!-- END: Body-->

</html>