.page-link-text{
    margin:0px;
    padding-top: 0.5rem;
    line-height: 1.3;
}
.fake-label{
    margin-top:1.7rem;
}

.primary-colorH{
transition: color .15s ease-in-out;
}
.primary-colorH:hover{
    color:#7367F0 !important;
}
/* Header:START*****************************************/
.contCollapsed{
    display:none;
}
.contExpanded{
    display:block;
}
.collapsed .contCollapsed{
    display:block;
}
.collapsed .contExpanded{
    display:none;
}

.user-nav span{
    float:right;
}

#headerNotifications button{
    width:40px;
        height:30px;
        background-color:transparent;
        border:none;
}
/* Header:END*****************************************/
/* Tables:START*****************************************/
.actions{
    padding-left:0.7rem;
    padding-right:0.7rem;
}
.actions a, .actions button {
    width:40px;
    height:30px;
    background-color:transparent;
    border:none;

}
/* Tables:END*****************************************/
/* Form:START*****************************************/
.formDate{
    background-color: inherit !important;
}

/* Form:END*****************************************/
.checkView .checkViewTrue, .checkViewIB .checkViewTrue{
    display:none;
}
.checkView .checkViewFalse{
    display:block;
}
.checkViewIB .checkViewFalse{
    display:inline-block;
}
.checkView[data-checkView="true"] .checkViewTrue{
    display:block;
}
.checkView[data-checkView="true"] .checkViewFalse, .checkViewIB[data-checkView="true"] .checkViewFalse{
    display:none;
}
.checkViewIB[data-checkView="true"] .checkViewTrue{
    display:inline-block;
}
