.status{

}
.toTranslate{
    white-space: break-spaces;
}
/*Side Menu*/
.navbar-brand img{
    width:35px;
}
.input-group.is-invalid .input-group-text, .input-group.is-invalid .form-control{
    border-color: #ea5455!important;
}