<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>

    <style>
        #filter-detail{
            min-height: 151px !important;
        }
    </style>

    <title class="toTranslate" data-langKey="ticketNew_tab_title"></title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">

            <!-- -->
            <section>
                <h2 class="toTranslate" data-langKey="ticketNew_title">New Ticket</h2>
                <div class="card">
                    <div class="card-body">
                        <form id="newTicketForm" class="form" method="POST" enctype="multipart/form-data"
                              th:object="${ticketModel}" th:action="@{${portalURL} + 'ticket/new'}" >

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="form-newTitle" data-langKey="utils_form_title">Title</label>
                                        <input id="form-newTitle" type="text" class="form-control toTranslateInput"
                                               data-langKey="utils_form_title_placeholder"
                                               th:errorclass="is-invalid"
                                               th:field="*{title}"/>
                                        <th:block th:each="err : ${#fields.errors('title')}">
                                            <th:block th:switch="${err}">
                                                <p th:case="utils_form_minmaxChar" class="invalid-feedback"
                                                   th:with="minChar=${T(com.season.portal.support.TicketModel).titleMinChar},
                                                            maxChar=${T(com.season.portal.support.TicketModel).titleMaxChar}">
                                                    <th:block th:replace="shared/validation :: minMaxChar(${minChar}, ${maxChar})"/>
                                                </p>
                                                <p th:case="*" class="invalid-feedback toTranslate"
                                                   th:attr="data-langKey=${err}"></p>
                                            </th:block>
                                        </th:block>

                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="filter-files" data-langKey="utils_form_files">Files</label>
                                        <p id="ticketNew_form_file_detail">
                                            <small class="toTranslate" data-langKey="ticketNew_form_file_detail0"></small><span th:text="${T(com.season.portal.support.TicketModel).filesMaxFiles}"></span><small class="toTranslate" data-langKey="ticketNew_form_file_detail1"></small><span th:text="${T(com.season.portal.support.TicketModel).filesMaxFileSizeMB}"></span><small class="toTranslate" data-langKey="ticketNew_form_file_detail2"></small>
                                        </p>
                                            <th:block th:with="accepted=${T(com.season.portal.utils.validation.FileValidatorUtils).getAcceptTypes({'image'}, {})}">
                                                <input id="filter-files" type="file" class="form-control toTranslateInput" multiple="multiple"
                                                       data-langKey="utils_form_files_placeholder" onchange="checkFiles(this)"
                                                       th:attr="accept=${accepted}"
                                                       th:errorclass="is-invalid"
                                                       th:field="*{files}"/>
                                            </th:block>

                                        <th:block th:each="err : ${#fields.errors('files')}">
                                            <th:block th:switch="${err}">
                                                <p th:case="utils_form_file_maxFiles" class="invalid-feedback"
                                                   th:with="maxFiles=${T(com.season.portal.support.TicketModel).filesMaxFiles}">
                                                    <th:block th:replace="shared/validation :: maxFiles(${maxFiles})"/>
                                                </p>
                                                <p th:case="utils_form_file_sizeExceeded" class="invalid-feedback"
                                                   th:with="fileSize=${T(com.season.portal.support.TicketModel).filesMaxFileSizeMB}">
                                                    <th:block th:replace="shared/validation :: fileSize(${fileSize})"/>
                                                </p>
                                                <p th:case="*" class="invalid-feedback toTranslate"
                                                   th:attr="data-langKey=${err}"></p>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="filter-detail" data-langKey="utils_form_detail">Details</label>
                                        <textarea id="filter-detail" class="form-control toTranslateInput"
                                                  data-langKey="utils_form_detail_placeholder"
                                                  th:errorclass="is-invalid"
                                                  th:field="*{detail}">
                                        </textarea>
                                        <th:block th:each="err : ${#fields.errors('detail')}">
                                            <th:block th:switch="${err}">
                                                <p th:case="utils_form_minmaxChar" class="invalid-feedback"
                                                   th:with="minChar=${T(com.season.portal.support.TicketModel).detailMinChar},
                                                            maxChar=${T(com.season.portal.support.TicketModel).detailMaxChar}">
                                                    <th:block th:replace="shared/validation :: minMaxChar(${minChar}, ${maxChar})"/>
                                                </p>
                                                <p th:case="*" class="invalid-feedback toTranslate"
                                                   th:attr="data-langKey=${err}"></p>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <div class="fake-label">
                                            <button type="submit"
                                                    class="btn btn-primary me-1 waves-effect waves-float waves-light toTranslate"
                                                    data-langKey="utils_submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_support_new");
    });

    function checkFiles(that){
        const files = that.files;
        var valid = true;
        if (files.length > [[${T(com.season.portal.support.TicketModel).filesMaxFiles}]]) {
            $(that).addClass("is-invalid");
            $("#ticketNew_form_file_detail").addClass("text-danger");
            valid = false;
        }
        else{
            $(that).removeClass("is-invalid");
            $("#ticketNew_form_file_detail").removeClass("text-danger");
        }
        return valid;
    }

</script>

</body>
<!-- END: Body-->

</html>