<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>
    <link rel="stylesheet" type="text/css" href="css/pages/auth/login.css">

    <style>

    </style>


    <title class="toTranslate" data-langKey="index_tab_title">Nice</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
      data-menu="vertical-menu-modern" data-col="blank-page">
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">

                <div class="auth-inner my-2">
                    <th:block th:replace="shared/common :: common-status"/>
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="row brand-logo justify-content-center mb-1">
                                <div class="col">
                                    <h2 class="brand-text text-primary text-center">
                                        <img src="media/logo.png" alt="logo" class="me-1"/>
                                        <span class="toTranslate" data-langKey="utils_brand">Portal</span>
                                    </h2>
                                </div>
                            </div>

                            <h4 class="card-title mb-1 toTranslate" data-langKey="index_title">Welcome ipsum
                                dolor sit.</h4>
                            <p class="card-text mb-2 toTranslate" data-langKey="index_text">Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit.
                                Eveniet exercitationem mollitia quaerat quas velit vitae.</p>

                            <form th:object="${loginModel}" class="auth-login-form mt-2" th:action="@{${portalURL} + 'login'}"
                                  method="POST">
                                <input id="login_langCode" type="hidden" th:field="*{langCode}"/>

                                <div class="mb-1">
                                    <label for="login_email" class="form-label toTranslate"
                                           data-langKey="utils_form_email">Email</label>
                                    <input id="login_email" type="text" th:field="*{email}" th:errorclass="is-invalid"
                                           class="form-control toTranslateInput"
                                           data-langKey="utils_form_emailPlaceholder"
                                           placeholder="john@example.com"
                                    />
                                    <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('email')}"
                                       th:attr="data-langKey=${err}"></p>
                                </div>

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label toTranslate" for="login_password"
                                               data-langKey="utils_form_password">Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle"
                                         th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}">
                                        <input id="login_password"
                                               type="password"
                                               th:field="*{password}"
                                               class="form-control form-control-merge toTranslateInput"
                                               data-langKey="utils_form_passwordPlaceholder"
                                               placeholder="*********"/>
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>

                                    </div>
                                    <th:block th:each="err : ${#fields.errors('password')}">
                                        <th:block th:switch="${err}">
                                            <p th:case="utils_form_password_numChar" class="invalid-feedback">
                                                <span class="toTranslate "
                                                      data-langKey="utils_form_password_numChar0"></span>
                                                <span
                                                        th:text="${T(com.season.portal.utils.validation.PasswordValidator).PASS_MIN_CHAR}"></span>
                                                <span class="toTranslate "
                                                      data-langKey="utils_form_password_numChar1"></span>
                                                <span
                                                        th:text="${T(com.season.portal.utils.validation.PasswordValidator).PASS_MAX_CHAR}"></span>
                                                <span class="toTranslate "
                                                      data-langKey="utils_form_password_numChar2"></span>
                                            </p>
                                            <p th:case="utils_form_password_atLeast" class="invalid-feedback">
                                                    <span class="toTranslate "
                                                          data-langKey="utils_form_password_atLeast0"></span>
                                                <span
                                                        th:text="${T(com.season.portal.utils.validation.PasswordValidator).PASS_SPECIAL_CHAR}"></span>
                                                <span class="toTranslate "
                                                      data-langKey="utils_form_password_atLeast1"></span>
                                            </p>
                                            <p th:case="*" class="invalid-feedback toTranslate"
                                               th:attr="data-langKey=${err}"></p>
                                        </th:block>
                                    </th:block>

                                </div>
                                <button type="submit" class="btn btn-primary w-100 toTranslate"
                                        data-langKey="index_signin">Sign in
                                </button>

                            </form>

                            <div class="divider my-2">
                                <div class="divider-text toTranslate" data-langKey="utils_language">Language</div>
                            </div>
                            <select id="languageSelector" class=" form-select" onchange="setupLanguage()">

                                <option th:each="code : ${langCodes}" th:value="${code}" th:text="${code}"
                                        th:selected="${code==loginModel.langCode}" class="toTranslate"
                                        th:attr="data-langKey=${'utils_lang_'+code}"></option>

                            </select>
                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script>
    $(window).on('load', function() {
        $("#login_langCode").val($("#languageSelector").val());
        setupLanguage();
    });



</script>

</body>
<!-- END: Body-->

</html>