<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>
    <link rel="stylesheet" type="text/css" href="css/pages/auth/style.css">
    <link rel="stylesheet" type="text/css" href="css/pages/auth/login.css">

    <style>

    </style>


    <title class="toTranslate" data-langKey="index_tab_title">Nice</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
      data-menu="vertical-menu-modern" data-col="blank-page">
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">

                <div class="auth-inner my-2">
                    <th:block th:replace="shared/common :: common-status"/>
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="row brand-logo justify-content-center mb-1">
                                <div class="col">
                                    <h2 class="brand-text text-primary text-center">
                                        <img src="media/logo.png" alt="logo" class="me-1"/>
                                        <span class="toTranslate" data-langKey="utils_brand">Portal</span>
                                    </h2>
                                </div>
                            </div>

                            <h4 class="card-title mb-1 toTranslate" data-langKey="index_title">Welcome ipsum
                                dolor sit.</h4>
                            <p class="card-text mb-2 toTranslate" data-langKey="index_text">Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit.
                                Eveniet exercitationem mollitia quaerat quas velit vitae.</p>

                            <form th:object="${loginModel}" class="auth-login-form mt-2" action="" method="POST">
                                <input id="login_langCode" type="hidden" th:field="*{langCode}"/>

                                <div class="mb-1">
                                    <label for="login_email" class="form-label toTranslate"
                                           data-langKey="utils_form_email">Email</label>
                                    <input id="login_email" type="text" th:field="*{email}" th:errorclass="is-invalid"
                                           class="form-control toTranslateInput"
                                           data-langKey="utils_form_emailPlaceholder"
                                           placeholder="john@example.com"
                                    />
                                    <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('email')}"
                                       th:attr="data-langKey=${err}"></p>
                                </div>

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label toTranslate" for="login_password"
                                               data-langKey="utils_form_password">Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input id="login_password" type="password" th:field="*{password}"
                                               th:errorclass="is-invalid"
                                               class="form-control form-control-merge toTranslateInput"
                                               data-langKey="utils_form_passwordPlaceholder"
                                               placeholder="*********"/>
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        <p class="invalid-feedback toTranslate"
                                           th:each="err : ${#fields.errors('password')}"
                                           th:attr="data-langKey=${err}"></p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100 toTranslate"
                                        data-langKey="index_signin">Sign in
                                </button>
                            </form>

                            <div class="divider my-2">
                                <div class="divider-text toTranslate" data-langKey="utils_language">Language</div>
                            </div>
                            <select id="languageSelector" class=" form-select" onchange="setupLanguage()">

                                <option th:each="code : ${langCodes}" th:value="${code}" th:text="${code}"
                                        th:selected="${code==loginModel.langCode}" class="toTranslate"
                                        th:attr="data-langKey=${'utils_lang_'+code}"></option>

                            </select>
                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<script>
    $(window).on('load', function() {
        setupLanguage();
    });

    function setupLanguage(){
        let code = $("#languageSelector").val();
        translate(code);
        $("#login_langCode").val(code);
    }

    let TRANSLATION = {};

    function translate(code){
        $.post( "getIndexTranslation", {"code":code}, function( json ) {
            if(json != ""){
                TRANSLATION = json;
                $(".toTranslate").each(function( index ) {
                    $( this ).text(json[$( this ).attr("data-langKey")]);
                });
                $(".toTranslateInput").each(function( index ) {
                    $( this ).attr("placeholder", json[$( this ).attr("data-langKey")]);
                });
            }
            else{
                addErrorByKey("utils_lang_error");
            }

        }, "json").fail(function(xhr, status, error) {
            addErrorByKey("utils_lang_error");
        });


    }

</script>

</body>
<!-- END: Body-->

</html>