<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>
    <link rel="stylesheet" type="text/css" href="css/pages/auth/style.css">


    <style>

    </style>

    <title class="toTranslate" data-langKey="resseler_tab_title">Nice</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">

            <!-- -->
            <section id="resseler">
                <h2 class="toTranslate" data-langKey="resseler_title">Resselers</h2>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title toTranslate" data-langKey="utils_filters">Filters</h4>
                    </div>
                    <div class="card-body">
                        <form id="filters" th:object="${stringPageModel}" class="form" method="get" action="/resselers">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="filter-value" data-langKey="utils_form_nameId">Name or Id</label>
                                        <input id="filter-value" type="text" class="form-control toTranslateInput" data-langKey="utils_form_nameId_placeholder"
                                               placeholder="Enter resseler name or id" th:field="*{value}"
                                               name="value">
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <div class="fake-label">
                                            <button type="submit"
                                                    class="btn btn-primary me-1 waves-effect waves-float waves-light toTranslate" data-langKey="utils_submit">Submit</button>
                                            <button type="button" onclick="resetForm('filters')"
                                                    class="btn btn-outline-secondary waves-effect toTranslate"
                                                    data-langKey="utils_reset">
                                                Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="toTranslate" data-langKey="utils_table_id">Id</th>
                                <th class="toTranslate" data-langKey="utils_table_name">Name</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_balance">Balance</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_devices">Devices</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_activated">Activated</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_notActivated">Not Activated</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_free">Free</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_wiped">Wiped</th>
                                <th class="toTranslate text-center" data-langKey="utils_table_actions">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="resseler : ${resselers}">
                                    <td th:text="${resseler.getGuid()}"></td>
                                    <td th:text="${resseler.getName()}"></td>
                                    <td class="text-end" th:text="${resseler.getBalance()+'$'}"></td>
                                    <td class="text-end" th:text="${resseler.getDevices()}"></td>
                                    <td class="text-end" th:text="${resseler.getActivated()}"></td>
                                    <td class="text-end" th:text="${resseler.getNotActivated()}"></td>
                                    <td class="text-end" th:text="${resseler.getFree()}"></td>
                                    <td class="text-end" th:text="${resseler.getWiped()}"></td>
                                    <td>
                                        <div>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <th:block
                                th:with="queryUrl=${#httpServletRequest.queryString}">
                            <th:block
                                    th:replace="shared/pagination :: pagination( ${#httpServletRequest.requestURI}, ${queryUrl}, ${resselerPag}, ${resselers.size()} )"/>
                        </th:block>

                    </div>
                </div>

            </section>

        </div>
    </div>

</div>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_resseler_list");
    });

    function resetForm(formId){
        //$("#"+formId).trigger("reset");
        $("#filter-value").val("");
        $("#"+formId).submit();
    }
</script>

</body>
<!-- END: Body-->

</html>