<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<body>
<th:block th:fragment="common-style">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

    <link rel="shortcut icon" type="image/x-icon" href="ico/favicon.ico">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="css/components.min.css">
    <link rel="stylesheet" type="text/css" href="css/themes/dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="css/core/menu/menu-types/vertical-menu.min.css">

    <!-- END: Page CSS-->
    <link rel="stylesheet" type="text/css" href="css/loggedStyle.css">

</th:block>

<th:block th:fragment="common-status">
    <div class="status sticky-top">
        <div th:each="key : ${errorKeys}" class="alert alert-danger alert-dismissible fade show p-2"
             role="alert">
            <span class="toTranslate" th:attr="data-langKey=${key}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:each="key : ${successKeys}" class="alert alert-success alert-dismissible fade show p-2"
             role="alert">
            <span class="toTranslate" th:attr="data-langKey=${key}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</th:block>

<th:block th:fragment="common-script">
    <!-- BEGIN: Vendor JS-->
    <script src="vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="js/core/app-menu.js"></script>
    <script src="js/core/app.js"></script>
    <!-- END: Theme JS-->

    <script>
        $(window).on('load', function() {
            $('.toLoad').each(function(index){
                $(this).load($(this).attr("data-toLoad"));
            });

            $('.toLoadReplace').each(function(index){
                $(this).load($(this).attr("data-toLoad"), function() {
                    var clss = $(this).attr("data-class");
                    var loadedData = $(this).children(':first');
                    if( clss != undefined){
                        $(loadedData).addClass(clss);
                    }
                    $(loadedData).unwrap();
                });
            });

            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        });

        function addErrorByKey(key){

            let status = '';
            status += '<div class="alert alert-danger alert-dismissible fade show p-2" role="alert">';
            status += '    <span class="toTranslate" data-langKey="'+key+'">'+TRANSLATION[key]+'</span>';
            status += '    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
            status += '</div>';

            $(".status").append(status);
        }
    </script>
</th:block>
<th:block th:fragment="common-translate">
    <script>
        let TRANSLATION = {};
        function translate(code){
            $.post( "getTranslation", {"code":code}, function( json ) {
                if(json != ""){
                    TRANSLATION = json;
                    $(".toTranslate").each(function( index ) {
                        $( this ).text(json[$( this ).attr("data-langKey")]);
                    });
                    $(".toTranslateInput").each(function( index ) {
                        $( this ).attr("placeholder", json[$( this ).attr("data-langKey")]);
                    });

                    $(".lang.active").removeClass("active");
                    $("#lang_"+code).addClass("active");
                }
                else{
                    addErrorByKey("utils_lang_error");
                }
            }, "json").fail(function(xhr, status, error) {
                addErrorByKey("utils_lang_error");
            });
        }

        function changeLanguage(that){
            let code = $(that).attr("data-langcode");

            if(code == undefined ||code == ""){
                return false;
            }
            translate(code);
        }

        function setupLanguage(){
            let code = $(".lang.active").attr("data-langcode");

            if(code == undefined ||code == ""){
                code = "en";
            }
            translate(code);

            $("#menu_lang").removeClass("open");
        }
    </script>
</th:block>
</body>
</html>

