<html xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="common-style">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui"/>
    <meta http-equiv="Content-Security-Policy">

    <!-- BEGIN: CACHE-CONTROL-->
    <meta content="no-cache, no-store, must-revalidate" http-equiv="cache-control">
    <meta content="max-age=0" http-equiv="cache-control"/>
    <meta content="no-store" http-equiv="cache-control"/>
    <meta content="0" http-equiv="expires"/>
    <meta content="no-cache" http-equiv="pragma"/>
    <!-- END: CACHE-CONTROL-->

    <!-- BEGIN: CSRF PREVENTION-->
    <meta th:name="_csrf" th:if="${_csrf}" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:if="${_csrf}" th:content="${_csrf.headerName}"/>
    <!-- END: CSRF PREVENTION-->

    <!-- BEGIN: ICO -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/ico/favicon.ico}"/>
    <!-- END: ICO-->


    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendors.min.css}"/>
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/colors.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/components.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/dark-layout.min.css}"/>

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/vertical-menu.min.css}"/>

    <!-- END: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/loggedStyle.css}"/>
    <style>

    </style>
</th:block>

<th:block th:fragment="common-status">
    <div class="status sticky-top">
        <div th:each="key : ${errorKeys}" class="alert alert-danger alert-dismissible fade show p-2"
             role="alert">
            <span class="toTranslate" th:attr="data-langKey=${key}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:each="key : ${successKeys}" class="alert alert-success alert-dismissible fade show p-2"
             role="alert">
            <span class="toTranslate" th:attr="data-langKey=${key}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</th:block>

<th:block th:fragment="common-script">
    <!-- BEGIN: Vendor JS-->
    <script th:src="@{/vendors/js/vendors.min.js}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script th:src="@{/vendors/js/forms/validation/jquery.validate.min.js}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script th:src="@{/js/core/app-menu.js}"></script>
    <script th:src="@{/js/core/app.js}"></script>
    <!-- END: Theme JS-->

    <script>


        $(window).on('load', function() {
            $('.toLoad').each(function(index){
                $(this).load($(this).attr("data-toLoad"));
            });

            $('.toLoadReplace').each(function(index){
                $(this).load($(this).attr("data-toLoad"), function() {
                    var clss = $(this).attr("data-class");
                    var loadedData = $(this).children(':first');
                    if( clss != undefined){
                        $(loadedData).addClass(clss);
                    }
                    $(loadedData).unwrap();
                });
            });

            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        });
        function clearSSLState() {
            try{
                document.execCommand("ClearAuthenticationCache");
                if(window.crypto){
                    window.crypto.logout();
                }
            }
            catch (e) {
                //console.log("clearSSLState");
                //console.error(e);
            }
        }
        function addErrorByKey(key){
            addStatusByKey(key, "alert-danger");
        }
        function addSuccessByKey(key){
            addStatusByKey(key, "alert-success");
        }
        function addStatusByKey(key, clss){
            $(".status").append(getStatusByKey(key, clss));
        }
        function getStatusByKey(key, clss){
            let status = '';
            status += '<div class="alert '+clss+' alert-dismissible fade show p-2" role="alert">';
            status += '    <span class="toTranslate" data-langKey="'+key+'">'+TRANSLATION[key]+'</span>';
            status += '    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
            status += '</div>';
            return status;
        }
        function showInMenu(id){
            $("#"+id).parents(".has-sub").addClass("open");
            $("#"+id).addClass("active");
        }


        function portalPost(url, data, successFun, errorFun, exceptionFun){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var portalURL = "[[${portalURL}]]";
            $.ajax({
                type:"POST",
                url: portalURL+url,
                data: data,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
            .done(function(result){

                if(result != "" && result != null && result != undefined){
                    if(result.errorKeys){
                        for(let i = 0; i < result.errorKeys.length; i++){
                            addErrorByKey(result.errorKeys[i]);
                        }
                    }
                    if(result.successKeys){
                        for(let i = 0; i < result.successKeys.length; i++){
                            addSuccessByKey(result.successKeys[i]);
                        }
                    }
                    if(result.worked){
                        if (typeof successFun === 'function') {
                            successFun(result.result);
                        }
                    }
                    else if (typeof errorFun === 'function') {
                        errorFun();
                    }
                }
                else{
                    addErrorByKey("api_error_ajax");
                    if (typeof criticalFun === 'function') {
                        exceptionFun();
                    }
                }
            })
            .fail(function (xhr, status, error){
                if(xhr.status == 403){
                    addErrorByKey("api_error_sessionExpired");
                }else{
                    addErrorByKey("api_error_ajax");
                }
                if (typeof criticalFun === 'function') {
                    exceptionFun();
                }
            });
        }


    </script>
</th:block>
<th:block th:fragment="common-translate">
    <script>
        let TRANSLATION = {};

        function changeLanguage(that){
            let code = $(that).attr("data-langcode");

            if(code == undefined ||code == ""){
                return false;
            }
            translate(code);
        }

        function translateSuccess(result){
            TRANSLATION = result;
            $(".toTranslate").each(function( index ) {
                $( this ).text(TRANSLATION[$( this ).attr("data-langKey")]);
            });
            $(".toTranslateInput").each(function( index ) {
                $( this ).attr("placeholder", TRANSLATION[$( this ).attr("data-langKey")]);
            });
            $(".toTranslateValue").each(function( index ) {
                $( this ).attr("value", TRANSLATION[$( this ).attr("data-langKey")]);
            });
            $(".toTranslateAttr").each(function( index ) {
                var attr = $(this).attr("data-langAttr");
                $( this ).attr(attr, TRANSLATION[$( this ).attr("data-langKey")]);
            });
            //update tooltips
            $('[data-bs-toggle="tooltip"]').each(function( index ) {
                new bootstrap.Tooltip(this);
            });


            $(".lang.active").removeClass("active");
            $("#lang_"+TRANSLATION["code"]).addClass("active");
        }


    </script>

    <!--  sec:authorize="!isAuthenticated()"   sec:authorize="!hasRole('ROLE_IS_LOGGED')"-->
    <script sec:authorize="!isAuthenticated()">
        function setupLanguage(){
            //for index
            let code = $("#languageSelector").val();

            if(code == undefined ||code == ""){
                code = $(".lang.active").attr("data-langcode");
            }
            if(code == undefined ||code == ""){
                code = "en";
            }

            translate(code);
        }

        function translate(code){
            portalPost("getIndexTranslation", {"code":code}, translateSuccess, translateError, translateException);
        }

        function translateError(){
            addErrorByKey("utils_lang_error");
            $("#languageSelector").val(TRANSLATION["code"]);
        }
        function translateException(){
            $("#languageSelector").val(TRANSLATION["code"]);
        }


    </script>

    <!--sec:authorize="isAuthenticated()"-->
    <script sec:authorize="isAuthenticated()">
        function translate(code){
            portalPost("getTranslation", {"code":code}, translateSuccess, translateError);
        }
        function translateError(){
            addErrorByKey("utils_lang_error");
        }
        function setupLanguage(){
            let code = $(".lang.active").attr("data-langcode");

            if(code == undefined ||code == ""){
                code = "en";
            }
            translate(code);

            $("#menu_lang").removeClass("open");
        }


    </script>

    <script sec:authorize="isAuthenticated()">
        function toggleAdminView(){
            portalPost("toggleAdminView", {}, toggleAdminViewHandler);
        }

        function toggleAdminViewHandler(result){
           //$("#AdminViewBtn").attr("data-checkView", result+"");
           location.reload();
        }



    </script>

</th:block>
</body>
</html>

