<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <th:block  th:fragment="common-style">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

            <link rel="shortcut icon" type="image/x-icon" href="ico/favicon.ico">

            <!-- BEGIN: Vendor CSS-->
            <link rel="stylesheet" type="text/css" href="vendors/css/vendors.min.css">
            <!-- END: Vendor CSS-->

            <!-- BEGIN: Theme CSS-->
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/bootstrap-extended.min.css">
            <link rel="stylesheet" type="text/css" href="css/colors.min.css">
            <link rel="stylesheet" type="text/css" href="css/components.min.css">
            <link rel="stylesheet" type="text/css" href="css/themes/dark-layout.min.css">

            <!-- BEGIN: Page CSS-->
            <link rel="stylesheet" type="text/css" href="css/core/menu/menu-types/vertical-menu.min.css">

            <!-- END: Page CSS-->

        </th:block >

        <th:block  th:fragment="common-script">
            <!-- BEGIN: Vendor JS-->
            <script src="vendors/js/vendors.min.js"></script>
            <!-- BEGIN Vendor JS-->

            <!-- BEGIN: Page Vendor JS-->
            <script src="vendors/js/forms/validation/jquery.validate.min.js"></script>
            <!-- END: Page Vendor JS-->

            <!-- BEGIN: Theme JS-->
            <script src="js/core/app-menu.js"></script>
            <script src="js/core/app.js"></script>
            <!-- END: Theme JS-->

            <script>
                $(window).on('load', function() {
                    if (feather) {
                        feather.replace({
                            width: 14,
                            height: 14
                        });
                    }
                })

                function translate(file){
                    $.getJSON( "language/"+file+".json", function( json ) {
                        $(".toTranslate").each(function( index ) {
                            $( this ).text(json[$( this ).attr("data-langKey")]);
                        });
                        $(".toTranslateInput").each(function( index ) {
                            $( this ).attr("placeholder", json[$( this ).attr("data-langKey")]);
                        });

                    });
                }
            </script>
        </th:block >

    </body>
</html>

