<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org "
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>

<th:block th:fragment="header">
    <header>
        <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-dark navbar-shadow container-xxl">
            <div class="navbar-container d-flex content">
                <ul class="nav navbar-nav align-items-center">
                    <li class="nav-item nav-toggle">
                        <a class="nav-link modern-nav-toggle pe-0 my-0" data-bs-toggle="collapse">
                            <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="menu"></i>
                            <div class="d-none d-xl-block">
                                <div class="contExpanded">
                                    <div class="toLoadReplace"
                                         th:attr="data-toLoad=${portalURL + 'media/icons/menuCollapsed.svg'}"
                                         data-class="ficon"
                                    ></div>

                                </div>
                                <div class="contCollapsed">
                                    <div class="toLoadReplace"
                                         th:attr="data-toLoad=${portalURL + 'media/icons/menuExpanded.svg'}"
                                         data-class="ficon"
                                    ></div>
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav align-items-center ms-auto">

                        <li th:if="${notifications != null && notifications.size() > 0}"
                            class="nav-item dropdown dropdown-notification me-25">
                            <a class="nav-link" href="#"
                               data-bs-toggle="dropdown"
                            >
                                <i class="ficon" data-feather="bell" ></i>
                                <span class="badge rounded-pill bg-danger badge-up"
                                      th:text="${notifications.size().toString()}">6</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">

                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header d-flex">
                                        <h4 class="notification-title mb-0 me-auto toTranslate"
                                            data-langKey="header_notifications_title">Notifications</h4>
                                        <div class="badge rounded-pill badge-light-primary">
                                            <span th:text="${notifications.size().toString()+' '}"></span>
                                            <span class="toTranslate"
                                                  th:attr="data-langKey=${(notifications.size()<2)?'utils_feminine_new':'utils_feminine_news'}"
                                            ></span>
                                        </div>
                                    </div>
                                </li>

                                <li class="scrollable-container media-list">
                                    <th:block th:each="notification : ${notifications}">
                                        <!--<p th:text="${session.CERTIFICATION_VALIDITY}"></p>-->
                                        <a class="d-flex"

                                           th:href="${(notification.getPath() == '')?'#':notification.getPath()}">
                                            <div class="list-item d-flex align-items-start">
                                                <div class="list-item-body flex-grow-1">
                                                    <p class="media-heading fw-bolder"
                                                       th:text="${notification.getTitle()}"></p>
                                                    <small class="notification-text" th:text="${notification.getSub()}"></small>
                                                </div>
                                            </div>
                                        </a>
                                    </th:block>
                                </li>
                                <li class="dropdown-menu-footer">
                                    <a class="btn btn-primary w-100 toTranslate"
                                       data-langKey="header_notifications_readAll" href="#">Read all
                                        notifications
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <div class="user-nav d-sm-flex">
                                    <div class="clearfix">
                                        <span class="user-name fw-bolder" th:text="${userName}">John Doe</span></br>
                                        <span class="user-status toTranslate"
                                              th:each="role : ${userRole}"
                                              th:text="${role}"
                                              th:attr="data-langKey=${'api_userRole_'+role}"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </th:block>

            </div>
        </nav>
    </header>


</th:block>

</body>
</html>

