<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org "
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>

<th:block th:fragment="header">
    <header>
        <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-shadow container-xxl">
            <div class="navbar-container d-flex content">
                <ul class="nav navbar-nav align-items-center">
                    <li class="nav-item nav-toggle">
                        <a class="nav-link modern-nav-toggle pe-0 my-0" data-bs-toggle="collapse">

                            <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="menu"></i>
                            <div class="d-none d-xl-block">
                                <div class="contExpanded">
                                    <div class="toLoadReplace"
                                         th:attr="data-toLoad=${portalURL + 'media/icons/menuCollapsed.svg'}"
                                         data-class="ficon"></div>
                                </div>
                                <div class="contCollapsed">
                                    <div class="toLoadReplace"
                                         th:attr="data-toLoad=${portalURL + 'media/icons/menuExpanded.svg'}"
                                         data-class="ficon"
                                    ></div>
                                </div>
                            </div>

                        </a>
                    </li>
                </ul>
                <th:block sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav align-items-center ms-auto">
                        <li class="nav-item ms-1" th:if="${balanceView != null}">
                            <p class="mb-0">
                                <span th:text="${balanceView}"></span>
                                <span>C</span>
                            </p>
                        </li>

                        <li id="headerNotifications"  th:if="${notifications != null && notificationsTotal > 0}"
                            class="nav-item dropdown dropdown-notification me-25">
                            <a class="nav-link" href="#"
                               data-bs-toggle="dropdown"
                            >
                                <i class="ficon" data-feather="bell" ></i>
                                <span class="badge rounded-pill bg-danger badge-up notificationCount"
                                      th:text="${notificationsTotal}"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">

                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header d-flex">
                                        <h4 class="notification-title mb-0 me-auto toTranslate"
                                            data-langKey="header_notifications_title">Notifications</h4>
                                        <div class="badge rounded-pill badge-light-primary">
                                            <span class="notificationCount" th:text="${notificationsTotal}"></span>
                                            <span class="toTranslate"
                                                  th:attr="data-langKey=${(notificationsTotal<2)?'utils_feminine_new':'utils_feminine_news'}"
                                            ></span>
                                        </div>
                                    </div>
                                </li>

                                <li class="scrollable-container media-list">
                                    <!--<th:block th:each="notification : ${notifications}">
                                        <a class="d-flex"

                                           th:href="${(notification.getPath() == '')?'#':notification.getPath()}">
                                            <div class="list-item d-flex align-items-start">
                                                <div class="list-item-body flex-grow-1">
                                                    <p class="media-heading fw-bolder"
                                                       th:text="${notification.getTitle()}"></p>
                                                    <small class="notification-text" th:text="${notification.getSub()}"></small>
                                                </div>
                                            </div>
                                        </a>
                                    </th:block>-->
                                    <th:block th:each="notification : ${notifications}">
                                        <div th:id="${'notification_'+notification.getUserNotificationId()}" class="list-item d-flex align-items-start">
                                            <div class="list-item-body flex-grow-1 d-flex justify-content-between align-items-center">
                                                <th:block th:replace="shared/notifications :: makeHeaderNotification(${notification})"/>
                                            </div>
                                        </div>
                                    </th:block>
                                </li>
                                <li class="dropdown-menu-footer">
                                    <button class="btn btn-primary w-100 toTranslate"
                                       data-langKey="header_notifications_readAll" onclick="readAllNotifications()">Read all
                                        notifications
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link">
                                <div class="user-nav d-sm-flex">
                                    <div class="clearfix">
                                        <span class="user-name fw-bolder" th:text="${userName}">John Doe</span></br>
                                        <span class="user-status toTranslate"
                                              th:each="role : ${userRole}"
                                              th:text="${role}"
                                              th:attr="data-langKey=${'api_userRole_'+role}"></span>
                                    </div>
                                </div>
                            </a>
                        </li>-->
                        <li class="nav-item ms-1" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button id="AdminViewBtn" type="button"
                                    class="btn btn-outline-secondary checkViewIB" onclick="toggleAdminView()"
                                    th:attr="data-checkView=${adminView}"
                            >
                                <span class="me-25">Admin View</span>
                                <i data-feather="circle" class="checkViewFalse"></i>
                                <i data-feather="check-circle" class="checkViewTrue"></i>
                            </button>
                        </li>
                    </ul>

                </th:block>

            </div>
        </nav>
    </header>


</th:block>

<th:block th:fragment="headerTitle0">
    <div class="d-flex">
        <div class="d-flex">

</th:block>
<th:block th:fragment="headerTitle1(navBar)">
        </div>

        <!-- navbar -->
        <div class="ms-auto">
            <div class="d-flex d-lg-none justify-content-end" >
                <button class="btn btn-icon pt-25 pe-0 collapsed"
                        type="button" data-bs-toggle="collapse"
                        th:attr="data-bs-target=${'#' + navBar}, aria-controls=${navBar}"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i data-feather="x" class="font-medium-5 contExpanded"></i>
                    <i data-feather="menu" class="font-medium-5 contCollapsed"></i>
                </button>
            </div>
            <!-- collapse  -->
            <nav class="collapse navbar-collapse d-lg-block" th:id="${navBar}">

</th:block>
<th:block th:fragment="headerTitle2">
            </nav>
        <!--/ collapse  -->
        </div>
    <!--/ navbar -->
    </div>
</th:block>
<th:block th:fragment="headerTitle1Back2(navBar)">
        </div>
        <!-- navbar -->
        <div class="ms-auto">
            <div class="d-flex d-lg-none justify-content-end" >
                <button class="btn btn-icon pt-25 pe-0 collapsed"
                        type="button" data-bs-toggle="collapse"
                        th:attr="data-bs-target=${'#' + navBar}, aria-controls=${navBar}"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i data-feather="x" class="font-medium-5 contExpanded"></i>
                    <i data-feather="menu" class="font-medium-5 contCollapsed"></i>
                </button>
            </div>
            <!-- collapse  -->
            <nav class="collapse navbar-collapse d-lg-block" th:id="${navBar}">
                <ul class="nav justify-content-end">
                    <li class="nav-item mb-1 ms-1">
                        <button type="button"
                                class="btn btn-primary toTranslate"
                                data-langKey="utils_back" onclick="history.back()">Back</button>
                    </li>
                </ul>
            </nav>
            <!--/ collapse  -->
        </div>
        <!--/ navbar -->
    </div>
</th:block>
</body>
</html>

