<html xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<th:block th:fragment="sideMenu">
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header mb-2">
            <ul class="nav navbar-nav flex-row mt-1">
                <li class="nav-item me-auto">
                    <a class="navbar-brand" th:href="${portalURL}">
                        <img src="/media/logo.png" alt="logo" class="me-1"/>
                        <h2 class="brand-text toTranslate" data-langKey="utils_brand">Portal</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                        <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <th:block sec:authorize="isAuthenticated()">
                    <!-- START NAVBAR -->
                    <th:block th:if="${!(needToChangePass==true)}">
                        <li class=" navigation-header">
                            <span class="toTranslate" data-langKey="menu_navBar">NavBar</span>
                            <i data-feather="more-horizontal"></i>
                        </li>
                        <li id="menu_dashboard" class=" nav-item">
                            <a class="d-flex align-items-center" th:href="${portalURL + 'dashboard'}">
                                <i data-feather='activity'></i>
                                <span class="menu-title text-truncate toTranslate"
                                      data-langKey="menu_dashboard"
                                >Dashboard</span>
                            </a>
                        </li>

                        <li class=" nav-item">
                            <a class="d-flex align-items-center" href="#">
                                <i data-feather='users'></i>
                                <span class="menu-title text-truncate toTranslate" data-langKey="menu_reseller">Reseller</span>
                            </a>
                            <ul class="menu-content">
                                <li id="menu_reseller_list">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'resellers'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_reseller_list">List</span>
                                    </a>
                                </li>
                                <li id="menu_reseller_balance">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'reseller'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_reseller_balance">Balance
                                        </span>
                                    </a>
                                </li>
                                <li id="menu_reseller_log">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'reseller'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_reseller_log">Log</span>
                                    </a>
                                </li>
                                <li id="menu_reseller_lookup">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'reseller/lookup'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_reseller_lookup">Lookup
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li id="menu_devices" class="nav-item">
                            <a class="d-flex align-items-center"th:href="${portalURL + 'devices'}">
                                <i data-feather='smartphone'></i>
                                <span
                                        class="menu-title text-truncate toTranslate"
                                        data-langKey="menu_devices"
                                >Devices</span>
                            </a>
                        </li>
                        <li id="menu_wallet" class=" nav-item">
                            <a class="d-flex align-items-center"th:href="${portalURL + 'wallet'}">
                                <div class="toLoadReplace"
                                     th:attr="data-toLoad=${portalURL + 'media/icons/wallet.svg'}"
                                     ></div>
                                <span class="menu-title text-truncate toTranslate" data-langKey="menu_wallet">Wallet</span>
                            </a>
                        </li>
                        <li class=" nav-item">
                            <a class="d-flex align-items-center" href="#">
                                <div class="toLoadReplace"
                                     th:attr="data-toLoad=${portalURL + 'media/icons/support.svg'}"></div>
                                <span class="menu-title text-truncate toTranslate" data-langKey="menu_support">Support</span>
                            </a>
                            <ul class="menu-content">
                                <li id="menu_support_new">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'ticket/new'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_new">New</span>
                                    </a>
                                </li>
                                <li id="menu_support_open">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'support'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_open">Open
                                        </span>
                                    </a>
                                </li>
                                <li id="menu_support_onProgress">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'support/onProgress'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_onProgress">On
                                            Progress
                                        </span>
                                    </a>
                                </li>
                                <li id="menu_support_pending">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'support/pending'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_pending">Pending
                                        </span>
                                    </a>
                                </li>
                                <li id="menu_support_canceled">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'support/canceled'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_canceled">Canceled
                                        </span>
                                    </a>
                                </li>
                                <li id="menu_support_completed">
                                    <a class="d-flex align-items-center"th:href="${portalURL + 'support/completed'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate"
                                              data-langKey="menu_completed">Completed
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" nav-item" id="menu_users">
                            <a class="d-flex align-items-center" href="#">
                                <i data-feather='user'></i>
                                <span class="menu-title text-truncate toTranslate" data-langKey="menu_users">Users</span>
                            </a>
                            <ul class="menu-content">
                                <li id="menu_users_new">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'users/new'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_users_new">New</span>
                                    </a>
                                </li>
                                <li id="menu_users_list">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'users/list'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_users_list">List</span>
                                    </a>
                                </li>
                                <li id="menu_users_log">
                                    <a class="d-flex align-items-center" th:href="${portalURL + 'users/log'}">
                                        <i data-feather="circle"></i>
                                        <span class="menu-item text-truncate toTranslate" data-langKey="menu_users_log">Log</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </th:block>
                    <!-- END NAVBAR -->
                    <!-- START PROFILE -->
                    <li class=" navigation-header">
                        <span class="toTranslate" data-langKey="menu_profile">Profile</span>
                        <i data-feather="more-horizontal"></i>
                    </li>
                    <li id="menu_profile_changePassword" class="nav-item">
                        <a class="d-flex align-items-center" th:href="${portalURL + 'changePassword'}">
                            <i data-feather='shield'></i>
                            <span class="menu-title text-truncate toTranslate"
                                  data-langKey="menu_profile_changePassword"
                            >Password</span>
                        </a>
                    </li>
                    <!-- END PROFILE -->
                </th:block>


                <!-- START SETTINGS -->
                <li class=" navigation-header">
                    <span class="toTranslate" data-langKey="menu_settings">Settings</span>
                    <i data-feather="more-horizontal"></i>
                </li>

                <li id="menu_lang" class=" nav-item">
                    <a class="d-flex align-items-center" href="#">
                        <div class="toLoadReplace"
                             th:attr="data-toLoad=${portalURL + 'media/icons/language.svg'}"></div>
                        <span class="menu-title text-truncate toTranslate" data-langKey="utils_lang">Language</span>
                    </a>
                    <ul class="menu-content">
                        <li class="lang" th:each="code : ${langCodes}" th:id="'lang_'+${code}"
                            th:classappend="${code == selectedLang? 'active' : ''}" th:attr="data-langcode=${code}"
                            onclick="changeLanguage(this)">
                            <a class="d-flex align-items-center" href="#">
                                <i data-feather="circle"></i>
                                <span class="menu-item text-truncate toTranslate"
                                      th:attr="data-langKey=${'utils_lang_'+code}"
                                      th:text="${code}"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li id="menu_theme" class=" nav-item">
                    <a class="d-flex align-items-center nav-link-style ">
                        <i class="ficon" data-feather="sun"></i>
                        <span class="menu-title text-truncate toTranslate" data-langKey="menu_theme">Theme</span>
                    </a>
                </li>
                <!-- END SETTINGS -->
                <!-- LOGOUT -->
                <th:block sec:authorize="isAuthenticated()">
                    <li id="menu_logout" class=" nav-item">
                        <a class="d-flex align-items-center"th:href="${portalURL + 'logout'}" onclick="clearSSLState()">
                            <i data-feather='user-x'></i>
                            <span class="menu-title text-truncate toTranslate" data-langKey="menu_logout"
                            >Logout</span>
                        </a>
                    </li>
                </th:block>
                <!-- LOGIN -->
                <th:block sec:authorize="isAnonymous()">
                    <li id="menu_login" class=" nav-item">
                        <a class="d-flex align-items-center"th:href="${portalURL + 'login'}">
                            <i data-feather='user-check'></i>
                            <span class="menu-title text-truncate toTranslate" data-langKey="menu_login"
                            >Login</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</th:block>

</body>
</html>

