<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN: Head-->

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/tables/datatable/dataTables.bootstrap5.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/forms/pickers/form-flat-pickr.min.css}" />
    <th:block th:replace="shared/common :: common-style"/>

    <style>
        .myTickets{
            padding-left:80px;
            text-align:right;
        }
        .notMyTickets{
            padding-right:80px;
            text-align:left;
        }
    </style>

    <title class="toTranslate" data-langKey="tickets_ticket_tab_title">Portal</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<th:block th:with="baseUrl=${portalURL + 'ticket'}, queryUrl=${#httpServletRequest.queryString}">
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">

            <section th:if="${Ticket == null}">
                <th:block th:replace="shared/header :: headerTitle0"/>
                <h2 class="mx-0 mt-0  mb-1 toTranslate" data-langKey="tickets_ticket_invalid">Invalid Ticket</h2>
                <th:block th:replace="shared/header :: headerTitle1Back2('ticketNavBar')"/>
            </section>
            <!-- -->
            <section id="ticket" th:if="${Ticket != null}">
                <th:block th:replace="shared/header :: headerTitle0"/>
                <div>
                    <h2 class="mx-0 mt-0 toTranslate mb-1" data-langKey="tickets_ticket_title">Ticket</h2>
                    <h3 th:text="${Ticket.getTitle()}"></h3>
                </div>

                <th:block th:replace="shared/header :: headerTitle1('ticketNavBar')"/>
                <ul class="nav justify-content-end">
                    <li class="nav-item mb-1 ms-1" th:if="${canUpdateStatus}">
                        <button type="submit" class="btn btn-danger toTranslate"
                                data-langKey="tickets_ticket_updateStatus"
                        >Update Status</button>
                    </li>
                    <li class="nav-item mb-1 ms-1">
                        <button type="submit" class="btn btn-danger toTranslate"
                                data-langKey="tickets_ticket_addResponse"  th:if="${canAddResponse}"
                        >Reply</button>
                    </li>
                    <li class="nav-item mb-1 ms-1" th:if="${canCancel}">
                        <button type="submit" class="btn btn-danger toTranslate"
                                data-langKey="tickets_ticket_cancel"
                                onClick="openCancelTicketModal()"
                        >Cancel Ticket</button>
                        <form id="formCancelTicket" th:object="${guidModel_canCancel}" method="POST"
                              th:action="@{${portalURL} + 'ticket/cancelTicket'}" >
                            <input type="hidden" th:field="*{value}"/>
                        </form>
                    </li>
                    <li class="nav-item mb-1 ms-1">
                        <a class="btn btn-primary toTranslate" data-langKey="utils_back"
                           th:href="${portalURL + 'ticket/listBack'}"
                        >Back</a>
                    </li>
                </ul>
                <th:block th:replace="shared/header :: headerTitle2"/>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title toTranslate" data-langKey="utils_filters">Filters</h4>
                    </div>
                    <div class="card-body">
                        <form id="filters" th:object="${ticketDetailListPageModel}" class="form" method="GET"
                              th:action="@{${baseUrl}}">

                            <p class="mb-0 toTranslate" data-langKey="utils_form_createdBetween">Created between:</p>
                            <div class="row">
                                <div class="col-md-2 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="filter-startCreationDate"
                                               data-langKey="utils_form_startCreationDate">Start Date</label>
                                        <div class="input-group input-group-merge"
                                             th:classappend="${#fields.hasErrors('startCreationDate') ? 'is-invalid' : ''}">
                                            <input type="text" id="filter-startCreationDate"
                                                   th:field="*{startCreationDate}"
                                                   class="form-control form-control-merge flatpickr-basic toTranslateInput formDate"
                                                   data-langKey="utils_form_datePlaceholder" placeholder="YYYY-MM-DD" />
                                            <span class="input-group-text cursor-pointer"
                                                  onclick="$('#filter-startDate').val('')"><i data-feather="x"></i></span>
                                        </div>
                                        <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('startCreationDate')}"
                                           th:attr="data-langKey=${err}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="filter-endCreationDate"
                                               data-langKey="utils_form_endCreationDate">End Date</label>
                                        <div class="input-group input-group-merge"
                                             th:classappend="${#fields.hasErrors('endCreationDate') ? 'is-invalid' : ''}">
                                            <input type="text" id="filter-endCreationDate"
                                                   th:field="*{endCreationDate}"
                                                   class="form-control form-control-merge flatpickr-basic toTranslateInput formDate"
                                                   data-langKey="utils_form_datePlaceholder" placeholder="YYYY-MM-DD" />
                                            <span class="input-group-text cursor-pointer"
                                                  onclick="$('#filter-endCreationDate').val('')"><i data-feather="x"></i></span>
                                        </div>
                                        <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('endCreationDate')}"
                                           th:attr="data-langKey=${err}"></p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <div class="fake-label">
                                            <button type="submit"
                                                    class="btn btn-primary me-1 waves-effect waves-float waves-light toTranslate" data-langKey="utils_submit"
                                            >Submit</button>
                                            <button type="button" onclick="resetForm('filters')"
                                                    class="btn btn-outline-secondary waves-effect toTranslate"
                                                    data-langKey="utils_reset"
                                            >Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive dataTables_wrapper">
                        <table class="table table-striped dataTable ">
                            <thead>
                                <tr>
                                    <th class="sorting toTranslate" data-langKey="utils_table_date"
                                        th:with="sortName='creationDate'"
                                        th:classappend="${Pagination.getSortClass(queryUrl,sortName)}"
                                        th:attr="onclick=|location.href='${Pagination.getSortUrl(baseUrl, queryUrl,sortName)}'|"
                                    >Date</th>
                                    <th class="toTranslate" data-langKey="utils_table_detail"
                                    >Detail</th>


                                    <th class="toTranslate text-center" data-langKey="utils_table_actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="ele : ${elements}">
                                    <td
                                        th:text="${T(com.season.portal.utils.Utils).strToStrDate(ele.getDetailDate())}">
                                    </td>
                                    <td class="toTranslate"
                                        th:text="${T(com.season.portal.utils.Utils).makeResume(ele.getDetail(), 150)}"
                                        th:classappend="${ele.getDetailUserId().equals(userId) ? 'myTickets' : 'notMyTickets'}"></td>
                                    <td class="actions">
                                        <div class="d-flex align-items-center justify-content-around">
                                            <button type="button" onclick="openDetail(this)"
                                               th:attr="data-guid=${ele.getTicketId()}, data-attachPath=${ele.getAttachPath()}"
                                               class="align-items-center d-flex justify-content-around toTranslateAttr"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-langKey="utils_view" data-langAttr="data-bs-original-title" title="S"
                                            >
                                                <i class="font-medium-2 text-body primary-colorH"
                                                   data-feather="eye"></i>
                                                <span class="detail d-none" th:text="${ele.getDetail()}"></span>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">

                            <th:block
                                    th:replace="shared/pagination :: pagination( ${baseUrl}, ${queryUrl}, ${Pagination}, ${elements.size()} )"/>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>
</th:block>

<th:block th:replace="shared/confirmModal :: confirmModal"/>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script th:src="@{/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_ticket_all");
        $('.flatpickr-basic').flatpickr();
        confirmModal_init();
    });

    function resetForm(formId){
        $("#filter-startCreationDate").val("");
        $("#filter-endCreationDate").val("");
        $("#"+formId).submit();
    }

    function openCancelTicketModal(){
        confirmModal_open("tickets_ticket_cancel", "tickets_ticket_cancel_detail", "utils_submit", "utils_cancel", openCancelTicketModalHandler, confirmModal_close);
    }
    function openCancelTicketModalHandler(){
        $("#formCancelTicket").submit();
    }

    function openDetail(that){
        var path = $(that).attr("attachPath");
        if(path != null && path != undefined && path != ""){
            var exe = path.split('.').pop();
        }
    }
</script>

</body>
<!-- END: Body-->

</html>