<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>

    <style>

    </style>

    <title class="toTranslate" data-langKey="users_tab_title"></title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">

            <!-- -->
            <section>
                <h2 class="toTranslate" data-langKey="users_new_title">New User</h2>
                <div class="card">
                    <div class="card-body">
                        <form method="POST" th:object="${newUserModel}" onsubmit="return validateForm();"
                              class="auth-login-form" th:action="@{${portalURL} + 'users/new'}"
                        >
                            <div class="row">
                                <div class="col-md-4 col-12 mb-1">
                                    <label class="form-label toTranslate" for="newUserModel_nickname"
                                           data-langKey="utils_form_nickname">Nickname</label>
                                    <input id="newUserModel_nickname" type="text" th:field="*{nickname}" th:errorclass="is-invalid"
                                           class="form-control toTranslateInput"
                                           data-langKey="utils_form_nicknamePlaceholder"
                                           placeholder="Enter nickname"
                                           onfocusout="validateNick(this)"
                                    />
                                    <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('nickname')}"
                                       th:attr="data-langKey=${err}"></p>

                                </div>

                                <div class="col-md-4 col-12 mb-1">
                                    <label class="form-label toTranslate" for="newUserModel_email"
                                           data-langKey="utils_form_email">Email</label>
                                    <input id="newUserModel_email" type="email" th:field="*{email}" th:errorclass="is-invalid"
                                           class="form-control toTranslateInput"
                                           data-langKey="utils_form_emailPlaceholder"
                                           placeholder="pedro@example.com"
                                           onfocusout="validateEmail(this)"
                                    />
                                    <p class="invalid-feedback toTranslate" th:each="err : ${#fields.errors('email')}"
                                       th:attr="data-langKey=${err}"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="newUserModel_pass"
                                               data-langKey="utils_form_password">Password</label>
                                        <div class="input-group input-group-merge form-password-toggle"
                                             th:classappend="${#fields.hasErrors('pass') ? 'is-invalid' : ''}">
                                            <input id="newUserModel_pass"
                                                   type="password"
                                                   th:field="*{pass}"
                                                   class="form-control form-control-merge toTranslateInput"
                                                   data-langKey="utils_form_passwordPlaceholder"
                                                   placeholder="*********"/>
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>

                                        </div>
                                        <th:block th:each="err : ${#fields.errors('pass')}">
                                            <th:block th:switch="${err}">
                                                <p th:case="utils_form_password_numChar" class="invalid-feedback"
                                                   th:with="minChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_MIN_CHAR},
                                                            maxChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_MAX_CHAR}">
                                                    <th:block th:replace="shared/validation :: passMinMaxChar(${minChar}, ${maxChar})"/>
                                                </p>
                                                <p th:case="utils_form_password_atLeast" class="invalid-feedback"
                                                   th:with="specialChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_SPECIAL_CHAR}">
                                                    <th:block th:replace="shared/validation :: passAtLeastChar(${specialChar})"/>
                                                </p>
                                                <p th:case="*" class="invalid-feedback toTranslate"
                                                   th:attr="data-langKey=${err}"></p>
                                            </th:block>
                                        </th:block>

                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <label class="form-label toTranslate" for="newUserModel_checkPass"
                                               data-langKey="utils_form_checkPassword">Check password</label>
                                        <div class="input-group input-group-merge form-password-toggle"
                                             th:classappend="${#fields.hasErrors('checkPass') ? 'is-invalid' : ''}">
                                            <input id="newUserModel_checkPass"
                                                   type="password"
                                                   th:field="*{checkPass}"
                                                   class="form-control form-control-merge toTranslateInput"
                                                   data-langKey="utils_form_passwordPlaceholder"
                                                   placeholder="*********"/>
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>

                                        </div>
                                        <th:block th:each="err : ${#fields.errors('checkPass')}">
                                            <th:block th:switch="${err}">
                                                <p th:case="utils_form_password_numChar" class="invalid-feedback"
                                                   th:with="minChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_MIN_CHAR},
                                                            maxChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_MAX_CHAR}">
                                                    <th:block th:replace="shared/validation :: passMinMaxChar(${minChar}, ${maxChar})"/>
                                                </p>
                                                <p th:case="utils_form_password_atLeast" class="invalid-feedback"
                                                   th:with="specialChar=${T(com.season.portal.utils.validation.PasswordValidator).PASS_SPECIAL_CHAR}">
                                                    <th:block th:replace="shared/validation :: passAtLeastChar(${specialChar})"/>
                                                </p>
                                                <p th:case="*" class="invalid-feedback toTranslate"
                                                   th:attr="data-langKey=${err}"></p>
                                            </th:block>
                                        </th:block>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="mb-1">
                                        <div class="fake-label">
                                            <button type="submit"
                                                    class="btn btn-primary me-1 waves-effect waves-float waves-light toTranslate"
                                                    data-langKey="utils_add">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>
<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_users_new");
    });

    function validateForm(){
        var valid = true;

        var pass=$("#newUserModel_pass").val();
        var checkPass=$("#newUserModel_checkPass").val();


        if(pass != checkPass){
            addErrorByKey("api_passNotMatch");
            valid = false;
        }

        return valid;
    }

    function validateNick(that){
        var value = $(that).val();
        if(value != ""){
            portalPost("users/validNickname", {'value':value}, validateNickHandler);
        }
    }

    function validateNickHandler(result){
        if(result){
            $("#newUserModel_nickname").removeClass("border-warning");
        }else{
            $("#newUserModel_nickname").addClass("border-warning");
            $("#newUserModel_nickname").after(getStatusByKey("api_nickname_alreadyUsed", "alert-danger"));
        }
    }

    function validateEmail(that){
        var value = $(that).val();
        if(value != ""){
            portalPost("users/validEmail", {'value':value}, validateEmailHandler);
        }
    }

    function validateEmailHandler(result){
        if(result){
            $("#newUserModel_email").removeClass("border-warning");
        }else{
            $("#newUserModel_email").addClass("border-warning");
            $("#newUserModel_email").after(getStatusByKey("api_email_alreadyUsed", "alert-danger"));
        }
    }
</script>

</body>
<!-- END: Body-->

</html>