<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- BEGIN: Head-->

<head>
    <th:block th:replace="shared/common :: common-style"/>

    <style>
        .roleName:not(:last-child)::after{
            content:", ";
        }
    </style>

    <title class="toTranslate" data-langKey="users_tab_title">Portal</title>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<th:block th:replace="shared/header :: header"/>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<th:block th:replace="shared/sidemenu :: sideMenu"/>
<!-- END: Main Menu-->


<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <th:block th:replace="shared/common :: common-status"/>
        </div>

        <div class="content-body">
            <section th:if="${User == null}">
                <th:block th:replace="shared/header :: headerTitle0"/>
                    <h2 class="mx-0 mt-0  mb-1 toTranslate" data-langKey="users_user_invalidTitle">User</h2>
                <th:block th:replace="shared/header :: headerTitle1Back2('userNavBar')"/>
            </section>

            <section id="user" th:if="${User != null}">
                <th:block th:replace="shared/header :: headerTitle0"/>
                <div>
                    <h2 class="mx-0 mt-0  mb-1 toTranslate" data-langKey="users_user_title">User</h2>
                    <p th:if="${roles.size() > 0}">
                        <span class="toTranslate" data-langKey="utils_roles"></span
                        >: <span class="roleName toTranslate"
                                 th:each="role:${roles}"
                                 th:attr="data-langKey=${'api_userRole_ROLE_'+role.getUserRoleName()}"></span
                        >
                    </p>
                </div>

                <th:block th:replace="shared/header :: headerTitle1('userNavBar')"/>
                    <ul class="nav justify-content-end">
                        <li class="nav-item mb-1 ms-1" sec:authorize="hasRole('ROLE_ADMIN')"
                            th:if="${!(T(com.season.portal.utils.Utils).hasRole(roles, 'ADMIN'))}" >
                            <form th:object="${guidModel_addAdmin}" method="POST" th:action="@{${portalURL} + 'users/addAdmin'}">
                                <input type="hidden" th:field="*{value}"/>
                                <button type="submit"
                                        class="btn btn-primary toTranslate"
                                        data-langKey="users_user_addAdmin" onclick="">Add Admin</button>
                            </form>
                        </li>
                        <li class="nav-item mb-1 ms-1" sec:authorize="hasRole('ROLE_ADMIN')"
                            th:if="${(T(com.season.portal.utils.Utils).hasRole(roles, 'ADMIN'))}" >
                            <form th:object="${guidModel_removeAdmin}" method="POST" th:action="@{${portalURL} + 'users/removeAdmin'}">
                                <input type="hidden" th:field="*{value}"/>
                                <button type="submit"
                                        class="btn btn-danger toTranslate"
                                        data-langKey="users_user_removeAdmin" onclick="">Remove Admin</button>
                            </form>
                        </li>
                        <li class="nav-item mb-1 ms-1"
                            th:if="${!(T(com.season.portal.utils.Utils).hasRole(roles, 'SUPPORT'))}" >
                            <form th:object="${guidModel_addSupport}" method="POST" th:action="@{${portalURL} + 'users/addSupport'}">
                                <input type="hidden" th:field="*{value}"/>
                                <button type="submit"
                                        class="btn btn-primary toTranslate"
                                        data-langKey="users_user_addSupport" onclick="">Add Support</button>
                            </form>
                        </li>
                        <li class="nav-item mb-1 ms-1"
                            th:if="${!(T(com.season.portal.utils.Utils).hasRole(roles, 'RESELLER'))}" >
                            <form th:object="${guidModel_addReseller}" method="POST" th:action="@{${portalURL} + 'users/addReseller'}">
                                <input type="hidden" th:field="*{value}"/>
                                <button type="submit"
                                        class="btn btn-primary toTranslate"
                                        data-langKey="users_user_addReseller" onclick="">Add Reseller</button>
                            </form>

                        </li>
                        <li class="nav-item mb-1 ms-1">
                            <a class="btn btn-primary toTranslate" data-langKey="utils_back"
                               th:href="${portalURL + 'users/listBack'}"
                            >Back</a>
                        </li>

                    </ul>
                <th:block th:replace="shared/header :: headerTitle2"/>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-12 mb-1">
                                <label class="form-label toTranslate" data-langKey="utils_form_nickname"></label>
                                <input class="form-control"
                                       th:value="${User.getUserName()}" readonly="readonly"/>
                            </div>
                            <div class="col-md-4 col-12 mb-1">
                                <label class="form-label toTranslate" data-langKey="utils_form_email"></label>
                                <input class="form-control"
                                       th:value="${User.getUserEmail()}" readonly="readonly"/>
                            </div>
                            <div class="col-md-4 col-12 mb-1">
                                <label class="form-label toTranslate" data-langKey="utils_form_creationDate"></label>
                                <input class="form-control"
                                       th:value="${User.getCreationDate()}" readonly="readonly"/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12 mb-1">
                                <label class="form-label toTranslate" data-langKey="utils_form_status"></label>
                                <input class="form-control toTranslateValue"
                                       th:attr="data-langKey=${'api_userStatus_'+User.getUserStatus()}" readonly="readonly"/>
                            </div>
                            <div class="col-md-8 col-12 mb-1">
                                <div class="d-flex fake-label">
                                    <th:block
                                            th:if="${(User.getUserStatus().equals(T(com.season.portal.client.users.ClientUser.USER_STATUS).BLOCKED.name()))}">

                                        <button type="submit" class="btn btn-primary toTranslate me-2"
                                                data-langKey="users_user_unblockUser" onClick="openUnblockModal()">
                                            Unblock
                                        </button>
                                        <form th:object="${guidModel_unblock}" method="POST" th:action="@{${portalURL} + 'users/user/unblock'}"
                                              id="formUnblock">
                                            <input type="hidden" th:field="*{value}"/>
                                        </form>
                                    </th:block>
                                    <th:block
                                            th:if="${(User.getUserStatus().equals(T(com.season.portal.client.users.ClientUser.USER_STATUS).INACTIVE.name()))}">

                                        <button type="button" class="btn btn-primary toTranslate me-2"
                                                data-langKey="users_user_activateUser" onClick="openActivateModal()">
                                            Activate
                                        </button>
                                        <form th:object="${guidModel_activate}" method="POST" th:action="@{${portalURL} + 'users/user/activate'}"
                                              id="formActivate">
                                            <input type="hidden" th:field="*{value}"/>
                                        </form>
                                    </th:block>
                                    <th:block
                                            th:if="${!(User.getUserStatus().equals(T(com.season.portal.client.users.ClientUser.USER_STATUS).INACTIVE.name()))}">

                                        <button type="button" class="btn btn-danger toTranslate me-2"
                                                data-langKey="users_user_inactivateUser" onClick="openInactivateModal()">
                                            Inactivate
                                        </button>
                                        <form th:object="${guidModel_inactivate}" method="POST" th:action="@{${portalURL} + 'users/user/inactivate'}"
                                              id="formInactivate">
                                            <input type="hidden" th:field="*{value}"/>
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" th:if="${(T(com.season.portal.utils.Utils).hasRole(roles, 'RESELLER'))}">
                    <div class="card-header d-flex justify-content-between pb-0 mb-1">
                        <h4 class="card-title toTranslate" data-langKey="users_user_reseller">Reseller</h4>
                    </div>
                    <div class="card-body" >
                         <th:block th:if="${!UserRole_Reseller.isEmpty()}">
                            <div class="row">
                                <div class="col-md-4 col-12 mb-1">
                                    <label class="form-label toTranslate" data-langKey="utils_form_nickname"></label>
                                    <input class="form-control"
                                           th:value="${UserRole_Reseller.getName()}" readonly="readonly"/>
                                </div>
                                <div class="col-md-4 col-12 mb-1 d-flex fake-label" th:if="${(resellerChildCount==0 && UserRole_ResellerParent.isEmpty())}">
                                    <button type="button"
                                            class="btn btn-danger toTranslate"
                                            data-langKey="users_user_removeReseller"  onClick="openRemoveResellerModal()">Remove Reseller</button>
                                    <form id="formRemoveReseller" th:object="${guidModel_removeReseller}"
                                          method="POST" th:action="@{${portalURL} + 'users/removeReseller'}">
                                        <input type="hidden" th:field="*{value}"/>

                                    </form>
                                </div>
                            </div>
                            <h5 class="toTranslate mb-1 mt-2" data-langKey="utils_hierarchy">Hierarchy</h5>
                            <div class="row">
                                <div class="col-md-4 col-12 mb-1" th:if="${!UserRole_ResellerParent.isEmpty()}">
                                    <label class="form-label toTranslate" data-langKey="users_user_parentName"></label>
                                    <input class="form-control"
                                           th:value="${UserRole_ResellerParent.getName()}" readonly="readonly"/>
                                </div>
                                <div class="col-md-8 col-12 mb-1 d-flex">
                                    <div class="fake-label" th:if="${!(UserRole_ResellerParent.isEmpty())}">
                                        <div class="me-2" >
                                            <button type="button" class="btn btn-danger toTranslate me-2"
                                                    data-langKey="utils_remove" onclick="openRemoveParentResellerModal()"
                                            >Remove</button>
                                            <form th:object="${hierarchyModel_removeParentReseller}" method="POST"
                                                  th:action="@{${portalURL} + 'users/hierarchy/removeParentReseller'}"
                                                  id="formRemoveParentReseller">
                                                <input type="hidden" th:field="*{parentId}"/>
                                                <input type="hidden" th:field="*{childId}"/>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="me-2" th:if="${(UserRole_ResellerParent.isEmpty())}">
                                        <form th:object="${guidModel_addParentReseller}" method="POST"
                                              th:action="@{${portalURL} + 'users/hierarchy/addParentResellerList'}" >
                                            <input type="hidden" th:field="*{value}"/>
                                            <button type="submit" class="btn btn-primary toTranslate me-2"
                                                    data-langKey="users_user_addParent"
                                            >Add Parent</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-4 col-12 mb-1">
                                    <p>
                                        <span class="toTranslate" data-langKey="users_user_resellerChildCount_text0"></span
                                        ><span th:text="${resellerChildCount}"></span
                                        ><span class="toTranslate" data-langKey="users_user_resellerChildCount_text1"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                 <form th:object="${guidModel_viewResellerChilds}"
                                       method="POST" th:action="@{${portalURL} + 'users/hierarchy/viewResellerChildList'}"
                                       th:if="${resellerChildCount>0}"
                                 >
                                     <input type="hidden" th:field="*{value}"/>
                                     <button type="submit"
                                             class="btn btn-primary toTranslate me-2"
                                             data-langKey="utils_viewChilds"
                                     >View childs</button>
                                 </form>
                             </div>
                         </th:block>
                    </div>
                </div>

                <div class="card" th:if="${(T(com.season.portal.utils.Utils).hasRole(roles, 'SUPPORT'))}">
                    <div class="card-header d-flex justify-content-between pb-0">
                        <h4 class="card-title toTranslate" data-langKey="users_user_support">Support</h4>
                    </div>
                    <div class="card-body" >
                        <th:block th:if="${!UserRole_Support.isEmpty()}">
                            <div class="row">
                                <div class="col-md-4 col-12 mb-1">
                                    <label class="form-label toTranslate" data-langKey="utils_form_nickname"></label>
                                    <input class="form-control"
                                           th:value="${UserRole_Support.getName()}" readonly="readonly"/>
                                </div>
                                <div class="col-md-4 col-12 mb-1 d-flex fake-label" th:if="${(supportChildCount==0 && UserRole_SupportParent.isEmpty())}">
                                    <button type="button"
                                            class="btn btn-danger toTranslate"
                                            data-langKey="users_user_removeSupport"  onClick="openRemoveSupportModal()">Remove Support</button>
                                    <form id="formRemoveSupport" th:object="${guidModel_removeSupport}"
                                          method="POST" th:action="@{${portalURL} + 'users/removeSupport'}">
                                        <input type="hidden" th:field="*{value}"/>

                                    </form>
                                </div>
                            </div>
                            <h5 class="toTranslate mb-1 mt-2" data-langKey="utils_hierarchy">Hierarchy</h5>
                            <div class="row">
                                <div class="col-md-4 col-12 mb-1" th:if="${!UserRole_SupportParent.isEmpty()}">
                                    <label class="form-label toTranslate" data-langKey="users_user_parentName"></label>
                                    <input class="form-control"
                                           th:value="${UserRole_SupportParent.getName()}" readonly="readonly"/>
                                </div>
                                <div class="col-md-8 col-12 mb-1 d-flex">
                                    <div class="fake-label" th:if="${!(UserRole_SupportParent.isEmpty())}">
                                        <div class="me-2" >
                                            <button type="button" class="btn btn-danger toTranslate me-2"
                                                    data-langKey="utils_remove" onclick="openRemoveParentSupportModal()"
                                            >Remove</button>
                                            <form th:object="${hierarchyModel_removeParentSupport}" method="POST"
                                                  th:action="@{${portalURL} + 'users/hierarchy/removeParentSupport'}"
                                                  id="formRemoveParentSupport">
                                                <input type="hidden" th:field="*{parentId}"/>
                                                <input type="hidden" th:field="*{childId}"/>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="me-2" th:if="${(UserRole_SupportParent.isEmpty())}">
                                        <form th:object="${guidModel_addParentSupport}" method="POST"
                                              th:action="@{${portalURL} + 'users/hierarchy/addParentSupportList'}" >
                                            <input type="hidden" th:field="*{value}"/>
                                            <button type="submit" class="btn btn-primary toTranslate me-2"
                                                    data-langKey="users_user_addParent"
                                            >Add Parent</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-4 col-12 mb-1">
                                    <p>
                                        <span class="toTranslate" data-langKey="users_user_supportChildCount_text0"></span
                                        ><span th:text="${supportChildCount}"></span
                                    ><span class="toTranslate" data-langKey="users_user_supportChildCount_text1"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <form th:object="${guidModel_viewSupportChilds}"
                                      method="POST" th:action="@{${portalURL} + 'users/hierarchy/viewSupportChildList'}"
                                      th:if="${supportChildCount>0}"
                                >
                                    <input type="hidden" th:field="*{value}"/>
                                    <button type="submit"
                                            class="btn btn-primary toTranslate me-2"
                                            data-langKey="utils_viewChilds"
                                    >View childs</button>
                                </form>
                            </div>
                        </th:block>
                    </div>
                </div>

            </section>

        </div>
    </div>

</div>


<th:block th:replace="shared/confirmModal :: confirmModal"/>
<!-- END: Content-->

<th:block th:replace="shared/common :: common-script"/>
<th:block th:replace="shared/common :: common-translate"/>

<script>
    $(window).on('load', function() {
        setupLanguage();
        showInMenu("menu_users_list");
        confirmModal_init();
    });

    function openActivateModal(){
        confirmModal_open("users_user_activateTitle", "", "users_user_activateUser", "utils_cancel", openActivateModalHandler, confirmModal_close);
        $(".tooltip").remove();
    }
    function openActivateModalHandler(){
        $("#formActivate").submit();
    }

    function openInactivateModal(){
        confirmModal_open("users_user_inactivateTitle", "", "users_user_inactivateUser", "utils_cancel", openInactivateModalHandler, confirmModal_close);
    }
    function openInactivateModalHandler(){
        $("#formInactivate").submit();
    }

    function openUnblockModal(){
        confirmModal_open("users_user_unblockTitle", "", "users_user_unblockUser", "utils_cancel", openUnblockModalHandler, confirmModal_close);
    }
    function openUnblockModalHandler(){
        $("#formUnblock").submit();
    }



    function openRemoveResellerModal(){
        confirmModal_open("users_user_removeResellerTitle", "", "utils_remove", "utils_cancel", openRemoveResellerModalHandler, confirmModal_close);
    }
    function openRemoveResellerModalHandler(){
        $("#formRemoveReseller").submit();
    }

    function openRemoveSupportModal(){
        confirmModal_open("users_user_removeSupportTitle", "", "utils_remove", "utils_cancel", openRemoveSupportModalHandler, confirmModal_close);
    }
    function openRemoveSupportModalHandler(){
        $("#formRemoveSupport").submit();
    }


    function openRemoveParentResellerModal(){
        confirmModal_open("users_user_removeParentResellerTitle", "", "utils_remove", "utils_cancel", openRemoveParentResellerModalHandler, confirmModal_close);
    }
    function openRemoveParentResellerModalHandler(){
        $("#formRemoveParentReseller").submit();
    }

    function openRemoveParentSupportModal(){
        confirmModal_open("users_user_removeParentSupportTitle", "", "utils_remove", "utils_cancel", openRemoveParentSupportModalHandler, confirmModal_close);
    }
    function openRemoveParentSupportModalHandler(){
        $("#formRemoveParentSupport").submit();
    }

</script>

</body>
<!-- END: Body-->

</html>